.Hermes__brand{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.Hermes__brand div{
    flex: 1;
    max-width: 50px;
    min-width: 20px;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.insta:hover{
background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
background-size: 48% 74%;
background-position: center;
background-repeat: no-repeat;

}
.link a:hover{
color:#0e76a8;
}
.git a:hover{
 color: #333;
}
.dis a:hover{
    color: #5865F2;
}
